.mainsec {
  width: 100%;
  color: #242629;
  font-size: 18px;

  .textBlock {
    margin: 16px;

    h1 {
      font-size: 20px;
      font-weight: 600;
      line-height: 1.4;

      @media screen and (min-width: 1024px) {
        font-size: 32px;
      }
    }
  }

  .contentBlock {
    display: flex;
    margin: 2px 16px;

    .dataSide {
      flex: 1;

      .inpts, .dataWrapper {
        display: flex;
      }
      .inpts {
        flex-wrap: wrap;
        gap: 12px;
        .sumInp {
          flex-basis: 80%;
        }
        .calcButton {
          width: 15%;
          height: 100%;
          margin-left: auto;
        }
      }

      .dataWrapper {
        flex-wrap: wrap;
        max-height: 60vh;
        overflow: scroll;

        .dataItem {
          flex-basis: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          background-color: rgb(244, 245, 246);
          border-radius: 8px;
          padding: 4px 16px;
          margin-top: 8px;

          .leftData {
            display: flex;
            flex-direction: column;
            gap: 8px;

            span {

              &:last-child {
                font-weight: bold;
              }
            }
          }

          .sharePercent {
            font-weight: bold;
            line-height: 28px;
          }
        }
      }
      .horizontalChart {
        display: block;
        margin-top: 8px;
      }
    }

    .chartSide {
      display: none;
    }
  }


  @media screen and (min-width: 1024px) {
    .contentBlock {
      .chartSide {
        display: block;
        flex: 1;
      }
      .dataSide {
        .dataWrapper{
          max-height: 75vh;
        }
        .inpts {
          flex-wrap: nowrap;
          .calcButton {
            margin: 0;
            width: 20%;
          }
        }
        .horizontalChart {
          display: none;
        }
      }
    }
  }
  @media screen and (min-width: 1440px) {
    .contentBlock {
      .dataSide {
        .dataWrapper{
          max-height: 80vh;
        }
      }
    }
  }

}